/* basic page styling */
body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

/* navbar styling */
.navbar {
    background-color: #10069f !important;
    margin-bottom: 20px;
}

.navbar-brand,
 .nav-link {
    color: white !important;        
 }

 .nav-link:hover {
    color: #d1d1d1 !important;        
 }

/* Headings */
.container h1,
.container h2,
.container h3 {
    color: #10069f;
}

/* Buttons */
.btn-primary {
    background-color: #10069f;
    border: gold;
}

.btn-primary:hover {
    background-color: #0c047a;
}

/* card styling */
.card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s, box-shadow 0.2s ease;
}

/* card hover effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}                                           

/* featured and welcome section */
.container {
    margin-top: 20px;
}

.bg-light {
    background-color: #ffffff !important;
    border-left: 5px solid #10069f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

